.form-control-group {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  height: 100%;
}

.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nb-form-field {
  text-align: center;
  margin-top: 1.5rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.nb-theme-default .nb-form-field-addon-basic.ng-invalid.ng-touched {
  color: red;
  background-color: red;
}

.nb-theme-default nb-icon .ng-invalid.ng-touched {
  color: red;
  background-color: red;
}

nb-theme-default nb-icon [nbInput].status-basic:focus {
  color: red;
}
